<!-- here we are using property binding -->
<!-- the property is in sync with the value  -->

<!-- event binding -->
<!-- naive 2 way binding -->
<!-- <input type="text" (input)="OnTextChanged($event)"> -->

<input type="text" [(ngModel)]="servername" (input)="OnInput()">
<button class="btn btn-primary" [disabled] = isButtonDisabled() (click)="OnServerCreation()">Add</button>
<br>

<div *ngIf="isButtonCLicked">
    <h3>
        {{serverCreationStatus}}
    </h3>
</div>

<div *ngIf="!isButtonDisabled(); else elseBlock">
    <h3 [ngClass]="{enabled:true , disabled:false}">Button is enabled</h3>
</div>


<ng-template #elseBlock>
    <h3 [ngStyle]="{color:'red'}">Button is disabled</h3>
</ng-template>

<br>

<app-server *ngFor="let server of servers" [server]="server">

</app-server>